.landing {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    font-size: 2em;
    box-sizing: border-box;
    padding: 1em 2em;
    line-height: 1;
    width: 8em;
    margin-bottom: 0.5em;
    text-align: center;
  }

  .mobileLandscape & {
    font-size: 0.7em;
  }
}

button {
  font-size: 2em;
  box-sizing: border-box;
  padding: 1em 3em;
  line-height: 1;
  width: 8em;
}

.servicesSelector {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .servicesSelector {
    display: flex;
    flex-direction: row;
  }
}

.heading {
  display: block;
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;

  .mobileLandscape & {
    font-size: 1.3em;
    margin: 0.23em 0;
  }
}
