.landing {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    font-size: 1.5em;
    box-sizing: border-box;
    padding: 0.5em 1em;
    line-height: 1;
    width: 90vw;
    margin-bottom: 0.5em;
    text-align: center;
    box-shadow: 0 0 0.6em #ccc;
    border: 2px solid #eee;

    &::placeholder {
      color: #aaa;
      font-size: 0.8em;
    }
  }

  .mobileLandscape & {
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 600px) {
  .form {
    input{
      padding: 1em 2em;
      font-size: 2em;
      width: 18em;
    }
  }
}

.servicesSelector {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

@media only screen and (min-width: 600px) {
  .servicesSelector {
    display: flex;
    flex-direction: row;
  }
}

.heading {
  display: block;
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;

  .mobileLandscape & {
    font-size: 1.3em;
    margin: 0.23em 0;
  }
}

.referLink {
  img {
    width: 7em;
  }

  &:hover {
    filter: opacity(0.8);
  }
}

@media only screen and (min-width: 600px) {
  .referLink {
    img {
      width: 9em;
    }
  }
}