.landing {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: -2em;
}

@media only screen and (min-width: 600px) {
  .landing {
    margin-top: 0;
  }
}

.formInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  input {
    font-size: 1.5em;
    box-sizing: border-box;
    padding: 0.5em 1em 0.5em 2em;
    line-height: 1;
    width: 90vw;
    text-align: center;
    box-shadow: 0 0 0.6em #ccc;
    border: 2px solid #eee;

    &::placeholder {
      color: #aaa;
      font-size: 0.8em;
    }
  }

  input::-webkit-search-cancel-button{
    &:hover {
      filter: opacity(0.8);
      cursor: pointer;
    }   
}

  .inlineButton {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    position: absolute;
    font-size: 1.3em;
    left: 0;
    margin-left: 1em;
    margin-top: 0.1em;
  }
  
  .infoButton {
    width: 1em;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    position: absolute;
    font-size: 2em;
    right: -0.3em;
    top: -0.3em;
    outline: none;
  }

  button:hover {
    filter: opacity(0.8);
  }
}

@media only screen and (min-width: 600px) {
  .formInner {
    input{
      padding: 1em 2em;
      font-size: 2em;
      width: 18em;
    }

    .inlineButton {
      font-size: 2.2em;
    }

    .infoButton {
      font-size: 2em;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .mobileLandscape & {
    font-size: 0.7em;
  }
}

.servicesSelector {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  gap: 0.8em;
}

@media only screen and (min-width: 600px) {
  .servicesSelector {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
}

.heading {
  display: block;
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;

  .mobileLandscape & {
    font-size: 1.3em;
    margin: 0.23em 0;
  }
}

.referLink {
  margin-top: 1.2em;

  img {
    width: 7em;
  }

  &:hover {
    filter: opacity(0.8);
  }
}

@media only screen and (min-width: 600px) {
  .referLink {
    img {
      width: 9em;
    }
  }
}