@use '../../variables' as v;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: v.$headerHeight;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeLink {
  color: #000;
  text-decoration: none;

  &:visited {
    color: #000;
    text-decoration: none;
  }

  &:hover {
    color: #000;
    text-decoration: none;
    filter: opacity(0.8);
  }

  &:active {
    color: #000;
    text-decoration: none;
  }
}

.homeLinkText {
  font-size: 1.35em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .homeLinkText {
    font-size: 2.2em;
  }
}

// Very small device (smaller than iPhone SE)
@media only screen and (max-width: 370px) {
  .homeLinkText {
    font-size: 1.15em;
  }
}

.rightContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-right: 1.5em;

  .githubLink {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
  
    &:hover {
      box-shadow: 0 0 1em #888;
    }
  }

  .kofiButtonContainer {
    font-size: 0.95em;
  }
}

@media only screen and (min-width: 600px) {
  .rightContainer {
    gap: 1.5em;

    .kofiButtonContainer {
      font-size: 1.3em;
    }
  }
}

// Very small device (smaller than iPhone SE)
@media only screen and (max-width: 370px) {
  .rightContainer .kofiButtonContainer {
      font-size: 0.8em;
  }
}