@use '../../variables' as v;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: v.$headerHeight;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerText {
  font-size: 2.2em;
  font-weight: bold;
}

.githubLink {
  width: 1.5em;
  height: 1.5em;
  transform: translate(-100%, 0);
  border-radius: 100%;

  &:hover {
    box-shadow: 0 0 1em #888;
  }
}