@use '../../variables' as v;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: v.$headerHeight;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeLink {
  color: #000;
  text-decoration: none;

  &:visited {
    color: #000;
    text-decoration: none;
  }

  &:hover {
    color: #000;
    text-decoration: none;
    filter: opacity(0.8);
  }

  &:active {
    color: #000;
    text-decoration: none;
  }
}

.homeLinkText {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .homeLinkText {
    font-size: 2.2em;
  }
}

.githubLink {
  width: 1.5em;
  height: 1.5em;
  transform: translate(-100%, 0);
  border-radius: 100%;

  &:hover {
    box-shadow: 0 0 1em #888;
  }
}